# Ignore compiled c files
*.pyc

# Ignore alternative data files
*_strict.tsv
*_exploded.tsv
*_manual_review.tsv

# Ignore personal scripts
scripts/jb_funcs

# Ignore .venv
.venv/

# Ignore random-sampling phony line keys
analysis/phony_lines*
